* {
    padding: 0;
    margin: 0;
}
.titulo {
    font-size: 72px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
}

.subtitulo {
    font-size: 48px;
    font-family: 'Quicksand', sans-serif;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    transition: 0.25s;
    color: white;
}

.navbar {
    float: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 120px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.navlinks {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    font-size: 16px;
    width: 70%;
    list-style: none;
}

.parrafo {
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
}

.tabla {
    text-decoration: none;
}

.top {
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 15px;
}

.bggrad {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #f6ff7c,#dadd25,#ffc400);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

.imagen {
    padding: 0;
    height: 340px;
    width: 512px;
}

.images {
    padding: 0;
    align-items: center;
}

.imagA {
    display: contents;
    position: unset;
}

.imagA:hover {
    color: black;
}

table {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    padding: 5%;
}

th {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
}

.icono{
    width: 45px;
    height: 40px;
}

input[type="checkbox"]{
    display: none;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav{
    background-color: rgba(255, 255, 255, 0.829);
    width: 250px;
    height: 164.5%;
    left: -250px;
    position: absolute;
    transition: all .5s;
    z-index: 1;
}

input[type="checkbox"]:checked~nav{
    transform: translateX(250px);
}

ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}

a{
    position: relative;
    display: block;
    padding: 20px 5px;
    font-family: 'calibri';
    font-weight: bold;
    font-size: 30px;
}

a:hover{
    background-color: rgb(143, 162, 165);
    color: rgb(255, 255, 255);
}

label{
    padding: 15px;
    position: absolute;
    z-index: 2;
}

@keyframes change {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes hover {
    0% {
        color: black;
    }

    50% {
        color: rgb(56, 56, 56);
    }

    100% {
        color: white;
    }
}